name: SecPilot JuiceShop Integration

on:
  push:
    branches: [ "main" ]

jobs:
  juice-shop:
    runs-on: ubuntu-latest
    services:
      juice-shop:
        image: bkimminich/juice-shop
        ports:
          - 3000:3000

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Semgrep
        run: pip install semgrep

      - name: Scan Code
        run: semgrep --config=auto . --json > juice-shop-report.json || true

      - name: Check Report
        run: |
          ls -lh juice-shop-report.json
          echo "Scan finished successfully."