name: SecPilot JuiceShop Integration

on:
  push:
    branches: [ "main" ]

jobs:
  juice-shop:
    runs-on: ubuntu-latest
    services:
      juice-shop:
        image: bkimminich/juice-shop
        ports:
          - 3000:3000

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Semgrep
        run: pip install semgrep

      - name: Download Juice Shop Source
        # Hna ghadi n-jibo l-code l-hqiqi bash n-scanniwh
        run: git clone --depth 1 https://github.com/juice-shop/juice-shop.git ./source-code

      - name: Scan Code
        # Daba ghadi n-scanniw folder 'source-code'
        run: semgrep --config=auto ./source-code --json > juice-shop-report.json || true

      - name: Check Report
        run: |
          ls -lh juice-shop-report.json
          echo "Scan finished. Check results above."