name: SecPilot JuiceShop Integration

on:
  push:
    branches: [ "main" ]

jobs:
  juice-shop:
    runs-on: ubuntu-latest
    
    # Hna k-n-hellu l-app dyal Juice Shop f l-background bash t-kun khdama
    services:
      juice-shop:
        image: bkimminich/juice-shop
        ports:
          - 3000:3000

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Semgrep
        run: pip install semgrep

      - name: Download Juice Shop Source
        # Had l-khtwa daroria bash Semgrep i-lqa l-code li i-scanni
        run: git clone --depth 1 https://github.com/juice-shop/juice-shop.git ./source-code

      - name: Scan Code
        # Hna k-n-jbdou dok 41+ thaghra
        run: semgrep --config=auto ./source-code --json > juice-shop-report.json || true

      - name: Check Report Local
        run: ls -lh juice-shop-report.json

      - name: Send report to SecPilot API
        # Hadi hiya l-khtwa li k-t-connecti GitHub m3a l-PC dyalk
        run: |
          curl -X POST -H "Content-Type: application/json" \
               -d @juice-shop-report.json \
               http://localhost:3000/#/search